.Products{
    width: 290px;
    height: 508px;
    border: 1px solid lightgray;
    border-radius: 8px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Products img{
    width: 270px;
    height: 270px;
    border-radius: 12px;
    margin: 8px;
  

}
.products-title{
    padding-left: 7px;
    margin: 0px;
}
.products-title h4{
    font-size: 25px;
}
.products-title p{
    font-size: 20px;
}

.cartBtn{
    width: 100%;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cartBtn p{
    padding-right: 7px;
    font-weight: 400;
    font-size: 18px;
}
.cartBtn:hover{
    background-color: #1C2B35;
    color: white;
}

/* css media query */
@media screen and (max-width: 600px) {  
    


}
