.footer{
    background-color: darkslategray;
    padding: 100px;
    margin-top: 100px;
}
.questions{
    margin: 10px;
}
.questions h2{
   padding-bottom: 10px;
   text-align: center;
   font-size: 35px;
   color: white;
}
details {
    width: 80%;
    margin: auto;
}
details p{
    color: white;
}
summary {
	display:block; 
	background:#384214;
	color:white;
	border-radius:5px;
	padding:5px;
	cursor:pointer;font-weight:bold;
}

summary::-webkit-details-marker {
   color:#FF0000; 
   background:#FFFFFF; 
}

details[open] summary::-webkit-details-marker {
   color:#0000FF; 
   background:#00FFFF;
}
summary::-webkit-details-marker {
   display: none
}

summary:after {
   content: "+";
   color: #FFFFFF;
   float: left;
   font-size: 1.5em;
   font-weight: bold;
   margin: -5px 5px 0 0;
   padding: 0;
   text-align: center;
   width: 20px;
}

details[open] summary:after {
   content: "-";
  color: #FFFFFF
}